# Ignore node_modules to avoid copying local modules to image
node_modules

# Ignore logs and debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Docker related files that should not be copied
Dockerfile*
docker-compose*.yml

# Ignore git files and config
.git
.gitignore

# Ignore editor and environment files
.vscode
.env
